body {
    text-align: center;
    background-color: #000;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#intro{
    background-color: rgb(59, 161, 59);
}

#origami1{
background-color: rgba(161, 0, 121, 0.63);
}

#origami2{
background-color: rgba(156, 61, 132, 0.61);
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}